<!-- <div>
    <label for="fieldType">Field Type</label>
    <select id="fieldType" [(ngModel)]="formFields.fieldType">
      <option *ngFor="let type of existingFieldTypes" [ngValue]="type">{{ type.type }}</option>
    </select>
  </div>
  <div *ngIf="formFields.fieldType.config.length > 0">
    <label for="config">Configuration</label>
    <div *ngFor="let option of formFields.fieldType.config; let i = index">
      <input [(ngModel)]="formFields.fieldType.config[i]" />
      <button (click)="removeConfigOption(i)">Remove</button>
    </div>
    <button (click)="addConfigOption()">Add Option</button>
  </div> -->